/* Start of darkmode CSS*/
:root {
    --background-color: #ffffff;
    --background-color-light:#cdcdcd;
    --font-color: #212529;
    --color-one: #374564;
    --color-two: #5f3a4c;
}

.darkTheme {
    --background-color: #191a1a;
    --background-color-light: #212529;
    --font-color: #cecdcc;
    --color-one: #15414b;
    --color-two: #363a57;
}
.lightTheme {
    --background-color: #ffffff;
    --background-color-light:#fafafa;
    --font-color: #212529;
    --color-one: #374564;
    --color-two: #5f3a4c;
}



body {
    padding-top: 70px;
    background-color: var(--background-color) !important;
    color: var(--font-color) !important;
}

h4 {
    color: var(--font-color) !important;
}

td {
    background-color: var(--background-color) !important;
    color: var(--font-color) !important;
}

footer {
    background-color: #1d1e1e;
}

.card {
    background-color: var(--background-color-light) !important;
    color: var(--font-color) !important;
}

/* End of darkmode CSS*/

.table {
    margin:0px !important; /*Bootstrap 5 version has bottom margin of 1rem, overrides that.*/
}

.bodyFull {
    height: calc(100vh - 70px);
}

.iconOwn {
    height: 1.2rem;
    width: auto;
    bottom: 0px;
    padding-right: 3px;
}

.subfolder {
    position:relative;
    display: flex;
    flex-direction: column;
    left: 20px;
    border-left: 2px solid;
    padding-left: 15px;
}

.linkOwn {
    color: black !important;
    text-decoration: none;
}

.linkOwn:hover {
    text-decoration: underline;
}


#bootstrap-overrides ::marker {
    list-style-type: none;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

::marker {
    list-style-type: none; 
}

.yt-embed {
	position:relative;
	padding-bottom:56.25%; /* 9/16=0,5625 > 56,25% */
	padding-top:30px;
	height:0;
	overflow:hidden;
    margin-top: 10px;
}

.yt-embed iframe, .yt-embed object, .yt-embed embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.block {
    background-color: black;
    height: 6rem;
    width: 0.25rem;
    margin: 10px;
}


.centerdiv {
    height: 10em;
    position: relative;
}

.centerdiv div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.smallCard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--background-color-light) !important;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding-right: 0px !important; 
    padding-left: 0px !important;
}

.fullHeight {
    min-height: calc(100vh - 70px);
    min-height: -moz-calc(100vh - 70px);
    min-height: -webkit-calc(100vh - 70px);
}

/* FOOTER darkmode checkbox */
input[type="checkbox"] {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}


.check {
    display: block;
    position: relative;
    height: 20px;
    width: 40px;
    border-radius: 20px; /*make it pill shaped*/
    background: #191a1a;
    overflow: hidden;
    transition: ease-in 0.5s;
    cursor: pointer;
}

input[type="checkbox"]:checked ~ .check
{
    background: #ffffff;
}

.check::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background: #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check::before
{
    transform: translateX(-50px);
}

.check::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    background: #191a1a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: translateX(50px);
}

input[type="checkbox"]:checked ~ .check::after
{
    transform: translateX(0px);
}

/*Firefox scrollbar*/
@supports (scrollbar-color: var(--background-color-light) var(--background-color)) {
    * {
      scrollbar-color: var(--background-color-light) var(--background-color);
    }
}



/* GO TO TOP of page button CSS */
.btn-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 0px !important;
}

.btn-to-top button {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px; 

}

