body {
    padding-top: 70px;
}

.iconOwn {
    height: 1.2rem;
    width: auto;
    bottom: 0px;
    padding-right: 3px;
}

.subfolder {
    position:relative;
    display: flex;
    flex-direction: column;
    left: 20px;
    border-left: 2px solid;
    padding-left: 15px;
}

.linkOwn {
    color: black !important;
    text-decoration: none;
}

.linkOwn:hover {
    text-decoration: underline;
}


#bootstrap-overrides ::marker {
    list-style-type: none;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

::marker {
    list-style-type: none; 
}